global
   log /dev/log local0
   log /dev/log local1 notice
   daemon

defaults
   log global
   mode http
   option httplog
   option dontlognull
   timeout connect 5000
   timeout client 50000
   timeout server 50000

frontend http_front
   bind *:80
   stats uri /haproxy?stats
   default_backend http_back

backend http_back
   balance roundrobin
   server my_server private_IP:80 check
   server my_server2 private_IP:80 check
   server my_server3 private_IP:80 check
